/* Skema Warna */
:root {
  --primary-color: #015600;
  --secondary-color: #FFA726;
  --background-color: white;
  --secondary-background-color: #d2fdd1;
}
/* bootstrap */
.accordion-button:not(.collapsed) {
  color: var(--primary-color);
  background-color: var( --secondary-background-color);
  box-shadow: inset 0 calc(-1* var( --secondary-background-color)) 0 var( --secondary-background-color);
}
.btn-primary,
.bg-primary,
.text-primary{
background-color: var(--primary-color) !important;
color: white !important;
border-color: var(--primary-color) !important;
}
.body{
  font-family: sans-serif;
}
.border-primary {
border-color: var( --primary-color) !important;
}

.btn-primary:hover{
background-color:#0b7509 !important; 
border-color: #0b7509  !important;
}


a.text-primary:hover {
color:  var( --primary-color) !important;
}

.btn-outline-primary {
color: var(--primary-color) !important;
border-color: var(--primary-color) !important;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active {
background-color: var(--primary-color) !important;
color: white !important;
border-color: var(--primary-color) !important;
}

body {
  padding-top: 80px;
  background-color: var(--background-color);
}

/* Header */
header {
  background-color: var(--background-color);
  padding: 20px 0;
}
.navbar {
  padding: 0px !important;
}
/* achievement */

.achievement-container {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.achievement {
  font-size: 24px;
  font-weight: bold;
  padding: 20px;
  border-radius: 10px;
  background: #f3f3f3;
  width: 200px;
}
.number {
  font-size: 40px;
  color: #007bff;
}

/* Hero Section */
.hero-area {
  background-color: var(--background-color);
}

.hero-area h1 {
  font-size: 3rem;
  font-weight: bold;
}

.hero-area p {
  font-size: 1.2rem;
}

.service-item {
          position: relative;
          overflow: hidden;
        }

        .overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.7); /* Overlay dengan transparansi */
          color: white;
          font-size: 24px;
          font-weight: bold;
          display: flex;
          align-items: center;
          justify-content: center;
          text-transform: uppercase;
          opacity: 0.9;
        }

        
/* Fitur Section */
.features {
  /* background-color: var(--secondary-color); */
  padding: 50px 0;
  /* background-color: var(--secondary-background-color); */
}

.features .feature-item {
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  text-align: center;
  transition: transform 0.3s ease;
}

.features .feature-item:hover {
  transform: translateY(-10px);
}

#featured-3{
  background-color: var(--secondary-background-color);
}
/* Pricing Section */
.pricing {
  /* background-color: var(--secondary-background-color); */
  padding: 60px 0;
}

.pricing .pricing-plan {
  background-color: var(--primary-color);
  color: white;
  border-radius: 10px;
  padding: 30px;
  margin: 20px;
  text-align: center;
}

.pricing .pricing-plan h3 {
  font-size: 2rem;
  font-weight: bold;
}

.pricing .pricing-plan p {
  font-size: 1.2rem;
}

/* Footer */
footer {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 20px 0;
}